.footer  {
    display: flex;
    justify-content: center;
    margin-top: 70vh;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  @media only screen and (max-width: 425px) and (min-width: 320px)  {
    .footer{
     margin-top: 80vh;
     font-size:x-small;
    }
  }